<?xml version="1.0" encoding="UTF-8"?>
<!-- JdbcTestMapper.xml 파일
     => "jdbc_test" 테이블을 다루는 SQL문이 들어 있다.
  -->
  
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="JdbcTestMapper">

    <resultMap type="board" id="boardMap">
        <id column="no" property="no"/>
        <result column="conts" property="contents"/>
        <result column="regdt" property="createdDate"/>
        <result column="vwcnt" property="viewCount"/>
    </resultMap>

    <!-- 중복해서 사용하는 SQL 문의 일부 코드를 다음과 같이
         별도의 태그로 정의해 둔다. -->
    <sql id="select1">
        select
            no, title, regdt, vwcnt
    </sql>

    <!-- 위에서 정의한 SQL 문을 사용하기 -->
    <select id="findAll" resultMap="boardMap">
        <include refid="select1"/>
        from jdbc_test
    </select>
    
    <insert id="insert" parameterType="board">
        insert into jdbc_test(title,conts,regdt)
        values(#{title},#{contents},now())
    </insert>
    
    <update id="update" parameterType="board">
        update jdbc_test set 
            title=#{title}, 
            conts=#{contents} 
        where no=#{no}
    </update>

    <delete id="delete" parameterType="int">
        delete from jdbc_test where no=#{value}
    </delete>
    
    <select id="findByNo" resultMap="boardMap" parameterType="int">
        <include refid="select1"/>
          ,conts
        from jdbc_test
        where no=#{value}
    </select>
</mapper>  









