<?xml version="1.0" encoding="UTF-8"?>
<!-- JdbcTestMapper.xml 파일
     => "jdbc_test" 테이블을 다루는 SQL문이 들어 있다.
  -->
  
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="JdbcTestMapper">

    <!-- id?
            => SqlSession 객체에서 SQL문을 찾을 때 사용한다. 
         resultType?
            => select 결과에서 레코드 한 개를 저장할 때 사용할 객체의 타입
    -->
    <select id="findAll" resultType="map">
        select no, title, regdt, vwcnt from jdbc_test
    </select>
    
    <!-- parameterType?
            => SQL을 실행할 때 SqlSession이 넘겨주는 객체의 타입 
         SQL 문 안에서는 #{프로퍼티명}으로 꺼낸다.
    -->
    <insert id="insert" parameterType="map">
        insert into jdbc_test(title,conts,regdt)
        values(#{title},#{contents},now())
    </insert>
    
    <update id="update" parameterType="map">
        update jdbc_test set 
            title=#{title}, 
            conts=#{contents} 
        where no=#{no}
    </update>

    <!-- parameterType에 자바 원시 타입을 지정할 때는 
         값을 꺼낼 때 이름은 아무 이름이나 지정해도 된다.
         #{아무이름} -->
    <delete id="delete" parameterType="int">
        delete from jdbc_test where no=#{haha}
    </delete>
    
    <select id="findByNo" resultType="map" parameterType="int">
        select * 
        from jdbc_test
        where no=#{value}
    </select>
</mapper>  









